<div class="main-content" id="main-content-div" #mainContentDiv>
  <div class="full-side-menu">
    <div class="side-menu" [class.open]="isOpen">
      <h3>MENU</h3>

      <div>
        <ul>
          <li><a routerLink="/weather">Weather</a></li>
          <li><a routerLink="/game">Game</a></li>
          <li><a routerLink="/settings">Settings</a></li>
        </ul>
      </div>
    </div>
    <div class="hide-button">
      <button (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>

  <div class="weather">
    <router-outlet></router-outlet>
  </div>
</div>
