<div class="wrapper">
  <h1>Find pairs!</h1>
  <h2 style="margin-right: auto">Best score: {{ bestScore }}</h2>
  <h2 style="margin-right: auto">Current score: {{ currentScore }}</h2>
  <div class="game-board">
    <div
      *ngFor="let card of weatherCards"
      class="card"
      [class.flipped]="card.isFlipped"
      (click)="flipCard(card)"
    >
      <img
        *ngIf="card.isFlipped"
        [src]="'assets/weather-icons/' + card.icon + '.png'"
      />
    </div>
  </div>
  <h1>{{ message }}</h1>
  <button (click)="initGame()" *ngIf="message" class="button">
    Restart game
  </button>
</div>
