.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 15px;
  margin: 20px auto;
}

.card {
  width: 100px;
  height: 100px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.card img {
  width: 80px;
  height: 80px;
  display: none;
}

.card.flipped img {
  display: block;
}

.button {
  background-color: #4caf4fa2; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Padding around the text */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Allow setting width and height */
  font-size: 16px; /* Text size */
  margin: 10px 2px; /* Margin around the button */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.button:hover {
  background-color: #3374369d; /* Darker green on hover */
  transform: translateY(-2px); /* Slightly raise the button */
}

.button:active {
  background-color: #3374369d; /* Even darker on click */
  transform: translateY(1px); /* Depress the button on click */
}
